.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.listLinks {
    list-style: none;
    margin-bottom: 0;
}

.listLink:first-child {
    margin-top: 15px;
}

.listLink {
    margin: 5px 0;
}

.listLink:last-child {
    margin-bottom: 15px;
}

.source{
    text-align: center;
    font-size: 8px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 880px) {
    .column {
        width: 100%;
        margin-bottom: 10px;
    }
}