.description {
    margin-bottom: 1.6875rem;
}

.container {
    display: flex;
}

.anatomyContainer {
    height: 500px;
    width: 300px;
    min-width: 300px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
} 

#anatomyImg {
    height: 400px;
}

#blankImg {
    height: 500px;
    width: 300px;
    position: absolute;
    z-index: 4;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 348px) {
    .anatomyContainer {
        left: -15%;
    }
}