.container {
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
}

.textContainer {
    padding: 8px;
    padding-left: 20px;
    margin: 5px 0;
}

.textTitle {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .textContainer {
        padding: 0;
        margin: 5px;
        margin-top: 10px;
    }
}