img, p {
    margin-bottom: 0.5px;
}

.exerciseContainer {
    width: 280px;
    max-width: 100%;
    display: inline-block;
    padding: 8px;
    margin: 5px 0;
    vertical-align: top;
}

/* TODO: variable? */
@media screen and (max-width: 850px) {
    .exerciseContainer {
        width: 100%;
    }
}

.exerciseTitle {
    font-weight: bold;
}